body .all {
  width: 500px;
  margin: 0 auto;
}
body .all footer {
  width: 100%;
  height: 150px;
  background: #f2f2f2;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .all footer input {
  margin-top: 10px;
  width: 81%;
  background: white;
  border-radius: 3px;
  margin-bottom: 15px;
  border: solid 1px rgba(0, 0, 0, 0.37);
  height: 55px;
  outline: none;
}
body .all footer button {
  cursor: pointer;
  height: 39px;
  width: 57%;
  border: none;
  border-radius: 25px;
  background: #fdd639;
  font-weight: 600;
  font-size: 1.1em;
  outline: none;
}
body .all .chat {
  margin-top: 195px;
  width: 100%;
  height: 100px;
}
body .all .chat .message_div {
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
  flex-direction: column;
}
body .all .chat .message_div .content_m {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: solid 1px rgba(7, 7, 7, 0.41);
  margin-top: 15px;
  background: #f2fbff;
}
body .all .chat .message_div h1 {
  font-weight: 600;
  font-size: 1.1em;
}
body .all .chat .message_div h1 span {
  margin-left: 10px;
  font-size: 0.7em;
  font-weight: 300;
}
body .all .chat .reviews {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .all .chat .reviews .left_div {
  margin-left: 15px;
}
body .all .chat .reviews .left_div a {
  color: blue;
}
body .all .chat .reviews .left_div span {
  font-weight: 600;
  margin-right: 15px;
}
body .all .chat .reviews .right_div {
  margin-right: 15px;
  margin-right: 5px;
}
body .all .chat .reviews .right_div .fa-comment {
  color: #73b4d5;
  margin-left: 15px;
  margin-right: 5px;
}
body .all .chat .reviews .right_div .fa-heart {
  color: #73b4d5;
  margin-right: 5px;
}
body .all .text_all {
  display: flex;
  width: 295px;
  position: absolute;
  margin-top: 151px;
  margin-left: 175px;
  font-weight: 600;
  justify-content: space-between;
}
body .all .services_text {
  text-align: right;
  margin-bottom: -20px;
  margin-right: 27px;
  font-size: 11pt;
}
body .all .main {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
body .all .main .avatar {
  z-index: 2;
  margin-right: -25px;
}
body .all .main .container h1 {
  font-size: 1.2em;
  margin-left: 35px;
}
body .all .main .container h3 {
  margin-top: 5px;
  margin-left: 35px;
  margin-bottom: 5px;
  color: #808080;
}
body .all .main .container .hint {
  line-height: 19px;
  width: 365px;
  height: 55px;
  background: #fffbc8;
  border-radius: 5px;
  border: solid 1px #cecabf;
  padding-left: 39px;
  display: flex;
  align-items: center;
}
body .all .services {
  display: flex;
  margin-top: 30px;
  width: 325px;
  float: right;
  height: 110px;
  border-top: solid 1px #aba0a0;
  border-bottom: solid 1px #aba0a0;
  flex-direction: column;
  justify-content: center;
}
body .all .services .block {
  width: 325px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  margin: 2px 0px;
  border-left: solid 1px rgba(0, 0, 0, 0.49);
}
body .all .services .block span {
  margin-right: 35px;
}
body .all .services .block .loading {
  display: flex;
  padding-left: 15px;
  align-items: center;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  white-space: nowrap;
}
body .all .services .block .loading_green {
  background: #b1e19b;
}
body .all .services .block .w_manual {
  width: 200px;
}
body .all .services .block .w_tur {
  width: 35px;
}
body .all .services .block .w_otel {
  width: 25px;
}
body .all .services .block .loading_blue {
  background: #ace2f8;
}
